.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: #dfeef5;
    z-index: 100;
    width: 100%;
    top: 0;
    
}

.header_icon{
    object-fit: contain;
    margin-left: 35px;
}

.header_center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header_center > input{
    border: none;
    outline-width: 0;
    padding: 5px;
    width: 250px;
    background: #dfeef5;;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
    
}