.search {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vw;
}

.search > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 8px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 380px;
}

.search > input {
    width: 559px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 420px;
    border: none;
  }
  
.search > input:focus {
    outline-width: 0;
}

.search > button {
    position: absolute;
    left: 0;
    top: 480px;
    text-transform: inherit !important;
    background-color: #779bff;
    color: white;
    width: 559px;
  }

.search > button:hover {
    background-color: white;
    color: #779bff;
}

/* rdrDateRangePickerWrapper */

@media only screen and (max-width: 800px){

    .rdrDateRangePickerWrapper{
        margin: -138px;
        width: 80%;
        z-index: 100;
        margin-top: 0;
        position: absolute;
    }

    .search > button, .search > input, .search > h2{
        width: 80%;
        margin-left: -140px;
    }



}
